@model ProjetoMercado.Models.Fornecedores

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Fornecedores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FornecedoresId" />
            <div class="form-group">
                <label asp-for="NomeFornecedores" class="control-label"></label>
                <input asp-for="NomeFornecedores" class="form-control" />
                <span asp-validation-for="NomeFornecedores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CNPJFornecedores" class="control-label"></label>
                <input asp-for="CNPJFornecedores" class="form-control" />
                <span asp-validation-for="CNPJFornecedores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
